/* Main APP CONTAINER */
.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  color: white;
}

/* Main BODY */
body {
  padding: 0%;
  margin: 0;
}

/* Targeting the nav in Navbar.jsx */
nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid gray;
  display: grid;
  place-items: center;
}

/* Targeting the Heading in Navbar.jsx */
nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}

/* Targeting Board component */

.board {
  width: 450px;
  height: 550px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

/* Targeting the rows in Board component */
.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

/* Targeting the letter component */
.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Targeting the keyboard component */

.keyboard {
  width: 700px;
  height: 300px;
  margin-top: 60px;
}

/* targeting rows in keyboard component */
.line {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

/* targeting keys in key component */
.key {
  width: 50px;
  height: 70px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

/* to handle big keys (Enter & Delete) */
#big {
  width: 100px;
}

/* to target container containing both board and keyboard components */
.game {
  width: 100vw;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

/* id's for letters to change their background */
#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}

#disabled {
  background-color: #3a393c;
}

/* Button for refreshing page in gameover container */

.retry {
  padding: 15px 30px;
  background: greenyellow;
  color: black;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid green;
  box-shadow: 3px 3px yellow;
  transition: all ease-in-out;
}

.retry:hover {
  transform: scale(1.1);
  background: yellow;
  color: black;
  border-color: greenyellow;
  box-shadow: 3px 3px greenyellow;
}
.retry:active {
  transform: scale(1);
  background: greenyellow;
  color: black;
  border-color: green;
  box-shadow: 3px 3px yellow;
}
